{
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "trailingComma": "none",
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "ignore",

  "overrides": [
    {
      "files": "*.hbs",
      "options": {
        "parser": "glimmer",
        "singleQuote": false,
        "printWidth": 120,
        "htmlWhitespaceSensitivity": "ignore",
        "embeddedLanguageFormatting": "off"
      }
    }
  ]
}
